@import "tailwindcss";

@source "../**/*.{ts,tsx}";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --sh-class: #a05ddc;
  --sh-sign: #222222;
  --sh-string: #3392ff;
  --sh-keyword: #eb367f;
  --sh-comment: #838383;
  --sh-jsxliterals: #3392ff;
  --sh-property: #000;
  --sh-entity: #eb367f;
  --sh-identifier: #a05ddc;
}

.dark {
  --sh-class: #a05ddc;
  --sh-sign: #e0e0e0;
  --sh-string: #3392ff;
  --sh-keyword: #eb367f;
  --sh-comment: #b4b4b4;
  --sh-jsxliterals: #3392ff;
  --sh-property: #ffffff;
  --sh-entity: #eb367f;
  --sh-identifier: #a05ddc;
}

@layer components {
  span.sh__token--comment {
    color: var(--sh-comment);
  }
  span.sh__token--keyword {
    color: var(--sh-keyword);
  }
  span.sh__token--string {
    color: var(--sh-string);
  }
  span.sh__token--entity {
    color: var(--sh-entity);
  }
  span.sh__token--identifier {
    color: var(--sh-identifier);
  }
  span.sh__token--property {
    color: var(--sh-property);
  }
  span.sh__token--jsxliterals {
    color: var(--sh-jsxliterals);
  }
  span.sh__token--class {
    color: var(--sh-class);
  }
  span.sh__token--sign {
    color: var(--sh-sign);
  }
  span.sh__token--line {
    color: var(--sh-line);
  }
}
