@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS custom directive */
@source "../**/*.{ts,tsx}";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS custom directive */
@plugin '@tailwindcss/typography';

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS custom directive */
@custom-variant dark (&:is(.dark *));

:root {
  --header-height: 64px;
  --header-zindex: 75;
  --header-border-bottom: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

@layer components {
  .header {
    height: var(--header-height);
    z-index: var(--header-zindex);
    border-bottom: var(--header-border-bottom);
  }
}
