@import "tailwindcss";

@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  /* Backgrounds ---------------------------------------------------------- */
  --background-100: oklch(100 0 89.876); /* Background 100 */
  --background-200: oklch(1 0 0); /* Background 200 */
}

.dark {
  /* Backgrounds ---------------------------------------------------------- */
  --background-100: oklch(0 0 4); /* Background 100 */
  --background-200: oklch(0 0 0); /* Background 200 */
}
