@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS custom directive */
@source "../**/*.{ts,tsx}";

/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS custom directive */
@custom-variant dark (&:is(.dark *));

:root {
  /* Colors --------------------------------------------------------------- */
  /* Primary Colors */
  --primary: oklch(0 0 0); /* Primary Foreground */

  /* Secondary Colors */
  --secondary: oklch(0.44 0 0); /* Secondary Foreground */

  /* Tertiary Colors */
  --tertiary: oklch(0.56 0 0); /* Tertiary Foreground */

  /* Quaternary Colors */
  --quaternary: oklch(0.68 0 0); /* Quaternary Foreground */

  /* Link Colors */
  --link-color: var(--blue-700);
  --link-color-hover: var(--blue-600);
  --link-color-active: var(--blue-500);
}

.dark {
  /* Colors --------------------------------------------------------------- */
  /* Primary Colors */
  --primary: oklch(0.97 0 0); /* Primary Foreground */

  /* Secondary Colors */
  --secondary: oklch(0.87 0 0); /* Secondary Foreground */

  /* Tertiary Colors */
  --tertiary: oklch(0.76 0 0); /* Tertiary Foreground */

  /* Quaternary Colors */
  --quaternary: oklch(0.65 0 0); /* Quaternary Foreground */

  /* Link Colors */
  --link-color: var(--blue-600);
  --link-color-hover: var(--blue-500);
  --link-color-active: var(--blue-400);
}
