@import "tailwindcss";

@source "../**/*.{ts,tsx}";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  /* Default Badge */
  --badge: var(--amber-200);
  --badge-foreground: var(--amber-900);
  --badge-border: var(--amber-500);

  --badge-outline: transparent;
  --badge-outline-foreground: var(--gray-200);
  --badge-outline-border: var(--gray-500);

  /* Gray Badges */
  --badge-gray: var(--gray-200);
  --badge-gray-foreground: var(--gray-900);
  --badge-gray-border: var(--gray-500);

  /* Blue Badges */
  --badge-blue: var(--blue-200);
  --badge-blue-foreground: var(--blue-900);
  --badge-blue-border: var(--blue-500);

  /* Purple Badges */
  --badge-purple: var(--purple-200);
  --badge-purple-foreground: var(--purple-900);
  --badge-purple-border: var(--purple-500);

  /* Amber Badges */
  --badge-amber: var(--amber-200);
  --badge-amber-foreground: var(--amber-900);
  --badge-amber-border: var(--amber-500);

  /* Red Badges */
  --badge-red: var(--red-200);
  --badge-red-foreground: var(--red-900);
  --badge-red-border: var(--red-500);

  /* Teal Badges */
  --badge-teal: var(--teal-200);
  --badge-teal-foreground: var(--teal-900);
  --badge-teal-border: var(--teal-500);

  /* Pink Badges */
  --badge-pink: var(--pink-200);
  --badge-pink-foreground: var(--pink-900);
  --badge-pink-border: var(--pink-500);

  /* Green Badges */
  --badge-green: var(--green-200);
  --badge-green-foreground: var(--green-900);
  --badge-green-border: var(--green-500);
}

.dark {
/* Default Badge */
  --badge: var(--amber-200);
  --badge-foreground: var(--amber-900);
  --badge-border: var(--amber-500);

  --badge-outline: transparent;
  --badge-outline-foreground: var(--gray-200);
  --badge-outline-border: var(--gray-500);

  /* Gray Badges */
  --badge-gray: var(--gray-200);
  --badge-gray-foreground: var(--gray-900);
  --badge-gray-border: var(--gray-500);

  /* Blue Badges */
  --badge-blue: var(--blue-200);
  --badge-blue-foreground: var(--blue-900);
  --badge-blue-border: var(--blue-500);

  /* Purple Badges */
  --badge-purple: var(--purple-200);
  --badge-purple-foreground: var(--purple-900);
  --badge-purple-border: var(--purple-500);

  /* Amber Badges */
  --badge-amber: var(--amber-200);
  --badge-amber-foreground: var(--amber-900);
  --badge-amber-border: var(--amber-500);

  /* Red Badges */
  --badge-red: var(--red-200);
  --badge-red-foreground: var(--red-900);
  --badge-red-border: var(--red-500);

  /* Teal Badges */
  --badge-teal: var(--teal-200);
  --badge-teal-foreground: var(--teal-900);
  --badge-teal-border: var(--teal-500);

  /* Pink Badges */
  --badge-pink: var(--pink-200);
  --badge-pink-foreground: var(--pink-900);
  --badge-pink-border: var(--pink-500);

  /* Green Badges */
  --badge-green: var(--green-200);
  --badge-green-foreground: var(--green-900);
  --badge-green-border: var(--green-500);
}

@component badge {
  .badge {
    background-color: var(--badge);
    color: var(--badge-foreground);
    border: 1px solid var(--badge-border);
  }

  .badge-outline {
    background-color: var(--badge-outline);
    color: var(--badge-outline-foreground);
    border: 1px solid var(--badge-outline-border);
  }

  .badge-gray {
    background-color: var(--badge-gray);
    color: var(--badge-gray-foreground);
    border: 1px solid var(--badge-gray-border);
  }

  .badge-blue {
    background-color: var(--badge-blue);
    color: var(--badge-blue-foreground);
    border: 1px solid var(--badge-blue-border);
  }

  .badge-purple {
    background-color: var(--badge-purple);
    color: var(--badge-purple-foreground);
    border: 1px solid var(--badge-purple-border);
  }

  .badge-amber {
    background-color: var(--badge-amber);
    color: var(--badge-amber-foreground);
    border: 1px solid var(--badge-amber-border);
  }

  .badge-red {
    background-color: var(--badge-red);
    color: var(--badge-red-foreground);
    border: 1px solid var(--badge-red-border);
  }

  .badge-teal {
    background-color: var(--badge-teal);
    color: var(--badge-teal-foreground);
    border: 1px solid var(--badge-teal-border);
  }

  .badge-pink {
    background-color: var(--badge-pink);
    color: var(--badge-pink-foreground);
    border: 1px solid var(--badge-pink-border);
  }

  .badge-green {
    background-color: var(--badge-green);
    color: var(--badge-green-foreground);
    border: 1px solid var(--badge-green-border);
  }
}