@import "tailwindcss";

@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  /* Primary Button Colors */
  --button-primary: oklch(0 0 0); /* Primary */
  --button-primary-foreground: oklch(1 0 0); /* Primary Foreground */

  /* Secondary Button Colors */
  --button-secondary: oklch(0.99 0 0); /* Secondary */
  --button-secondary-foreground: oklch(0.44 0 0); /* Secondary Foreground */

  /* Tertiary Button Colors */
  --button-tertiary: oklch(0.86 0 0); /* Tertiary */
  --button-tertiary-foreground: oklch(0.56 0 0); /* Tertiary Foreground */

  /* Quaternary Button Colors */
  --button-quaternary: oklch(0.96 0 0); /* Quaternary */
  --button-quaternary-foreground: oklch(0.68 0 0); /* Quaternary Foreground */
}

.dark {
  /* Primary Button Colors */
  --button-primary: oklch(0.16 0 0); /* Primary */
  --button-primary-foreground: oklch(0.97 0 0); /* Primary Foreground */

  /* Secondary Button Colors */
  --button-secondary: oklch(0.2 0 0); /* Secondary */
  --button-secondary-foreground: oklch(0.87 0 0); /* Secondary Foreground */

  /* Tertiary Button Colors */
  --button-tertiary: oklch(0.97 0 0); /* Tertiary */
  --button-tertiary-foreground: oklch(0.76 0 0); /* Tertiary Foreground */

  /* Quaternary Button Colors */
  --button-quaternary: oklch(0.31 0 0); /* Quaternary */
  --button-quaternary-foreground: oklch(0.65 0 0); /* Quaternary Foreground */
}
