@import "tailwindcss";

@source "../**/*.{ts,tsx}";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --sidebar: var(--background-100);
  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-accent: var(--button);
  --sidebar-accent-foreground: var(--button-foreground);

  --sidebar-border: var(--border);
  --sidebar-ring: var(--border);
}
